<div class="game">
<h2><%= game.title %></h2>
<p class="gamep"><%= image_tag game.image_url ,:class=>"gameimage" %></p>
<p><%= game.category.name %></p>
<%= link_to 'add to cart',   add_item_path(game)  %>
<div>